@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --font-sans: sans-serif;
}

.container {
  @apply max-w-[100%] px-3 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
}

body {
  font-family: "Preahvihear", sans-serif;
  background: #11071F;
  color: #fff;
  
}
